<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>List of Daily Deals in Singapore</title>
	<meta name="description" content="A list of all the GroupOn like daily deals in Singapore. Refreshed everyday at 12pm." />
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
    <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div class="w1">
		<div id="wrapper">
			<div id="header">
                <h1 class="logo">Nothing here. Click <a href="/">here</a> to go to the home page</h1>
			</div>
		</div>
	</div>
</body>
</html>
